<style>
    /* Estilos para o pop-up */
    .popup {
        display: none; /* Esconde o pop-up por padrão */
        position: fixed; /* Posição fixa para o pop-up */
        z-index: 1; /* Coloca o pop-up em cima de tudo */
        left: 0;
        top: 0;
        width: 100%; /* Largura total */
        height: 100%; /* Altura total */
        overflow: auto; /* Adiciona rolagem se necessário */
        background-color: rgba(0,0,0,0.5); /* Fundo preto semi-transparente */
    }

    /* Estilos para o conteúdo do pop-up */
    .popup-content {
        background-color: #fefefe; /* Fundo branco */
        margin: 15% auto; /* Centraliza o conteúdo */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Largura do conteúdo */
    }

    /* Estilos para o botão de fechar */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>


{% extends 'dados/base.html'%} 
{% load crispy_forms_tags %}
{% block conteudo %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

<!-- Custom styles for this template -->
<div class="d-flex justify-content-center" id="teste" >
    <form method="post">
        <br>
        <img src="{% static 'image/22.png' %}" />
        <h4 class="text-center">Faça Login</h4>
        <input type="hidden" name="next" value="{{ next }}" />

        {% csrf_token %}
        {{ form|crispy }}

        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Lembrar</label>

        <button id="aa" type="submit" class="btn btn-primary btn-block">Entrar</button>
        <br>

        {% comment %}
        <p><a href="/accounts/register" class="btn btn-info btn-block">Criar uma conta!</a></p>
        {% endcomment %}
        <p class="text-center">&copy; 2022</p>
    </form>

        <!-- Adicione a div para o pop-up -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <iframe width="560" height="315" src="https://youtu.be/vzsoYxRxPy4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

    <script>
        // Quando a página for carregada
        window.onload = function() {
            // Mostra o pop-up
            document.getElementById('popup').style.display = "block";
        }

        // Quando o usuário clicar no botão de fechar
        document.getElementsByClassName('close')[0].onclick = function() {
            // Esconde o pop-up
            document.getElementById('popup').style.display = "none";
        }
    </script>

    
</div>
{% endblock %}
