{% extends 'dados/base.html'%} 
{% load crispy_forms_tags %}
{% block conteudo %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

<!-- Custom styles for this template -->
<div class="d-flex justify-content-center" id="teste" >
    <form method="post">
        <br>
        <img src="{% static 'image/22.png' %}" />
        <h4 class="text-center">Faça Login</h4>
        <input type="hidden" name="next" value="{{ next }}" />

        {% csrf_token %}
        {{ form|crispy }}

        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Lembrar</label>

        <button id="aa" type="submit" class="btn btn-primary btn-block">Entrar</button>
        <br>

        {% comment %}
        <p><a href="/accounts/register" class="btn btn-info btn-block">Criar uma conta!</a></p>
        {% endcomment %}
        <p class="text-center">&copy; 2022</p>
    </form>
</div>
{% endblock %}
