body {
  font-size: 13px;
}

#teste img {
  width: 320px;
  height: 200px;
}

/* Nome Geral */
h1 {
  font-size: 45px;
  margin-top: 4rem;
  text-align: center;
}

/* Estilos do "Cadastro de Pavimento Modal*/
#cadpav {
  margin-top: 5px;
}

#cadpav span {
  height: 35px;
  width: 100px;
}
#cadpav .form-control {
  height: 35px;
  width: 100px;
}

#btnpav {
  text-align: right;
}

#btnpav button {
  margin-bottom: 10px;
}

#btnpav a {
  color: #fff;
  text-decoration: none;
}


/* Estilos do "Cadastro de Esgoto Modal*/
#cadesg {
  margin-top: 2px;
}

#cadesg #ex {
  width: 50%;
  border-radius: none;
}

#cadesg span {
  height: 35px;
  width: 100px;
}
#cadesg .form-control {
  height: 35px;
  width: 100px;
}

#btnesg {
  text-align: right;
}

#btnesg button {
  margin-bottom: 10px;
  margin-top: -5px;
}

#btnesg a {
  color: #fff;
  text-decoration: none;
}

/* Estilos do "Cadastro de Pendencias Modal*/
#btnpen {
  margin-top: 2px;
}

#btnpen span {
  height: 36px;
  width: 90px;
}
#btnpen .form-control {
  height: 36px;
  width: 80px;
}