{% extends 'dados/base.html'  %}
{% block conteudo %}
{% load widget_tweaks %}

<br><br><br>
<div class="container">
    <div class="card w-80">
        <div class="card-body">
            <h2 style='text-align:center'>Alterar informações</h2>

            <form action="" method="POST">
                <!-- Não se esqueçer dessa misera dessa fdp tag -->
                {% csrf_token %}
                <!-- Div de todos os formularios -->
                <div style="width: 500px;" class="form-group row" >     
                    
                    <div style="width: 250px;" class="input-group mb-3">
                        <span style="width: 110px;" class="input-group-text">Localidade</span>
                        {% render_field formulario.Localidade class='form-control' style="height: 40px;"  %}
                    </div>
        
                    <div class="input-group mb-3">
                        <span style="width: 110px;" class="input-group-text">Ss</span>
                        {% render_field formulario.Ss  class="form-control" style="height: 70px;" placeholder="Informe a" %}
                    </div>

                    <div class="input-group mb-3">
                        <span style="width: 110px;" class="input-group-text">Tipo</span>
                        {% render_field formulario.Tipo  class="form-control" style="height: 70px;" placeholder="Qual o tipo da Pendencia?" %}
                    </div>

                    <div class="input-group mb-3">
                        <span style="width: 110px;" class="input-group-text" >Solicitante</span>
                        {% render_field formulario.Solicitante  class="form-control" style="height: 40px;" %} 
                    </div>

                    <!-- Data -->
                    <div class="input-group mb-3">
                        <span style="width: 110px;" style="height: 40px;" class="input-group-text">Data</span>
                        {% render_field formulario.Data class="form-control" style="height: 40px;" %}
                    </div>

                    <div class="input-group mb-3">
                        <span style="width: 110px;" class="input-group-text" >Detalhes</span>
                        {% render_field formulario.Detalhes class="form-control" style="height: 100px;" placeholder="Descreva detalhes da pendencia" %}
                    </div>

                </div>
                                       <!-- Pendente -->
                <div style="width: 250px;" class="input-group mb-3">
                    <span style="width: 110px;" class="input-group-text">Executado</span>
                    {% render_field formulario.Executado class='form-control' style="height: 40px;"  %}
                </div>

                <div style="width: 250px;" class="input-group mb-3">
                    <span style="width: 110px;" class="input-group-text">Situação</span>
                    {% render_field formulario.Medir class='form-control' style="height: 38px;"  %}
                </div>


                <!-- Botoes -->
                <button style="width: 70px;" style="margin-top: 10px;" class="btn btn-secondary"><a style="color: white;" href="{% url 'informativo'%}" class="text-decoration-none">Voltar</a></button> 
                <button style="width: 70px;" style="margin-top: 10px;" class="btn btn-success" type="submit">Salvar</button>        
            </form>
        </div>
    </div>         
</div>
{% endblock %}