{% extends 'dados/base.html'  %}
{% block conteudo %}
{% load widget_tweaks %}
{% load static %}


<div class="container">
    <div class="card w-11">
        <div class="card-body">
            <h3 style='text-align:center'>Alterar informações</h3>

            <form action="" method="POST">
                {% csrf_token %}

                <div id="pavpend">                              
                                                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">Ss</span>
                        {% render_field formulario.Ss  class="form-control" placeholder='Informe 9 digitos' minlength="9"  maxlength="9" %}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Tipo</span>
                        {% render_field formulario.Tipo  class="form-control" placeholder=" item obrigatorio" %}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" >Solicitante</span>
                        {% render_field formulario.Solicitante  class="form-control" placeholder=" item obrigatorio "%} 
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Data</span>
                        {% render_field formulario.Data class="form-control" %}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" >Detalhes</span>
                        {% render_field formulario.Detalhes class="form-control" placeholder="Descreva os detalhes" %}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Executado</span>
                        {% render_field formulario.Executado class='form-control'  %}
                        ⠀                                                 
                        <span  class="input-group-text">Situação</span>
                        {% render_field formulario.Medir class='form-control' %}
                    </div>

                    <div class="input-group mb-3">
                        <span style="width: 100px;" class="input-group-text">Localidade</span>
                        {% render_field formulario.Localidade class='form-control' style="height: px;"  %}
                    </div>
                </div>

                <div style='text-align:right;'>
                <!-- Botoes -->
                    <button  class="btn btn-secondary"><a style="color: white;" href="{% url 'informativo'%}" class="text-decoration-none"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a></button> 
                    <button  class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>        
                </div>                 
                
            </form>
        </div>
    </div>         
</div>
{% endblock %}