{% extends 'dados/base.html'  %}
{% block conteudo %}


  <br> <br> <br>
    <div class="card text-center">
      <div class="alert alert-danger" role="alert">
          Confirmar exclusão da SS: {{item.Ss}} ? <a href="{% url 'informativo' %}" class="alert-link" >Clique para cancelar!</a>
      </div>

      <form method='POST'>
        <button style="margin: 10px;" class="btn btn-danger" type="submit">Confirmar</button>
        {% csrf_token %}
      </form>

      <div class="card-footer text-muted">
        Após exclusão, não sera possivel restagar o item!
      </div>
    </div>

{% endblock %}