{% extends 'dados/base.html'  %}
{% load crispy_forms_tags %}
{% block conteudo %}
{% load widget_tweaks %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<h1>Listagem de Pendencias</h1>
{% comment %} 
<p data-toggle="tooltip" data-placement="top" title="Tooltip na parte superior">
  Tooltip
</p>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script> {% endcomment %}

<div class='container-fluid' >
    
    <!--  Filtro superior geral da tabela--> 
    <div >
        <form method="get"  >
            {% csrf_token %}
            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#cadpendencia">
                <i class="fa fa-plus" aria-hidden="true"></i>Adiconar
             </button>   
            <!--  Filtro superido geral da tabela--> 

            <div class="form-inline col-md-1 mb-0" style='float:right'>
                ⠀<button type="submit" class="btn btn-primary mb-2" style="margin-top: 18px;">Filtrar</button>
            </div>
            
            {% comment %} <div class="form-inline col-md-1 mb-0" style='float:right' >
                {{filtro3.form.Executado| as_crispy_field}}
            </div> {% endcomment %}

             <select id="days" name="days">
              <option value="">Filtrar Período</option>
                <option value="7">Últimos 7 dias</option>
                <option value="30">Últimos 30 dias</option>
                <option value="60">Últimos 60 dias</option>
                <option value="90">Últimos 90 dias</option>
                <option value="120">Últimos 120 dias</option>
            </select>  

            <select id="execut" name="execut">
                <option value="">Filtrar Situação</option>
                <option value="all">All</option>
                <option value=False>Pendente</option>
                <option value=True>Executado</option>
            </select>         
        </form>
    </div>
    
    <!-- Modal para adicionar novo item-->
    <div class="modal fade" id="cadpendencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro de Pendencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div><br>

                <div class="container">
                    <div class="card-body">                  
                        <form action="" method="POST">
                            <!-- Não se esqueçer dessa misera dessa fdp tag -->
                            {% csrf_token %}
                            <!-- Div de todos os formularios -->
                            <div id="pavpend">                              
                                                    
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Ss</span>
                                    {% render_field cadastro2.Ss  class="form-control" placeholder='Informe 9 digitos' minlength="9"  maxlength="9" %}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Tipo</span>
                                    {% render_field cadastro2.Tipo  class="form-control" placeholder=" item obrigatorio" %}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text" >Solicitante</span>
                                    {% render_field cadastro2.Solicitante  class="form-control" placeholder=" item obrigatorio "%} 
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Data</span>
                                    {% render_field cadastro2.Data class="form-control" %}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text" >Detalhes</span>
                                    {% render_field cadastro2.Detalhes class="form-control" placeholder="Descreva os detalhes" %}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Executado</span>
                                    {% render_field cadastro2.Executado class='form-control'  %}
                                    ⠀                                                 
                                    <span  class="input-group-text">Situação</span>
                                    {% render_field cadastro2.Medir class='form-control' %}
                                </div>

                                <div class="input-group mb-3">
                                    <span style="width: 100px;" class="input-group-text">Localidade</span>
                                    {% render_field cadastro2.Localidade class='form-control' style="height: px;"  %}
                                </div>
                            </div>
                            <div style='text-align:right;'>
                            <!-- Botoes -->
                                <button  class="btn btn-secondary"><a style="color: white;" href="{% url 'informativo'%}" class="text-decoration-none"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a></button> 
                                <button  class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>        
                            </div>                     
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Notas de informação de pendencias--> 
    <div class='form-control' style="font-size: 13px;">
        <h8> <i class="fas fa-table me-1"></i> Registro(s) encontrado(s)</h8>
    </div>
    
    <table class="table table-striped table-bordered table-hover table-responsive" style="width:100%" id="tabela-listar">
        <!-- Cabeçalho -->
        <thead>
            <tr>
                <th>Localidade</th>
                <th >Situação</th>
                <th>Ss</th>
                <th>Tipo</th>
                <th>Solicitante</th>
                <th>Data</th>
                <th>Editar</th>
                <th>Executado</th>
                <th>Criou</th>
                <th>Editou</th>
            </tr>
        </thead>
        
        <!-- Query para o Grupo de Lauro -->
        <tbody>
            {% if user.groups.all.0.name == 'Lauro' %}
                {% for dado in localidade_l.qs %}
                    <tr>   
                        <td>{{dado.Localidade}} </td>
                         <td>
                            {% if dado.Medir == 'Medir' %}  
                            <h2 style="color: Green;">P/ Medir</h2>
                            {% elif dado.Medir == 'Prioridade' %}
                            <h2 style="color: red;">Priorizar!</h2>
                            {% else %}
                            <h2 style="color: Grey;">Normal</h2>
                            {% endif %}
                        </td>
                        <td>{{dado.Ss}}</td>
                        <td>{{dado.Tipo}}</td>
                        <td>{{dado.Solicitante|lower|capfirst}}</td>
                        <td>{{dado.Data|date:"d/m/Y"}}</td>
                        <td>
                            <a href="{% url 'editar_p' dado.id %}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
            

                        <!--  Filtro checked--> 
                        {% if dado.Executado %}
                        <td> <input disabled type='checkbox' class="form-check-input"  id="flexSwitchCheckDefaultXl" checked >
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% else %}
                        <td><input disabled type="checkbox" class="form-check-input"  id="flexSwitchCheckDefaultXl">
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% endif %}

                        <!--  Filtro Copiar informaçoes da tabela--> 
                        {% comment %} {% if dado.Copiar %}
                            <td></td>
                            {% else %}
                            <td>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                                <button class="btn" data-clipboard-text=" {{dado.Tipo|lower|capfirst}} ref Ss: {{dado.Ss}} inf {{dado.Solicitante|lower|capfirst}}">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </td> 
                            <script>
                                const clipboard = new ClipboardJS('.btn')
                                clipboard.on('success', function (e) {
                
                                });

                                clipboard.on('error', function (e) {
                    
                                });
                            </script>
                        {% endif %} {% endcomment %}
                        <td>{{dado.created_by}}</td> 
                        <td>{{dado.last_edited_by}}</td>
                                          
                    </tr> 
                {% endfor %}
                <!-- Query para o Grupo de Salvador -->
            {% elif  user.groups.all.0.name == 'Salvador'%}
                {% for dado in localidade_2.qs %}
                    <tr>   
                        <td>{{dado.Localidade}}</td>
                        <td>
                            {% if dado.Medir == 'Medir' %}  
                            <h2 style="color: Green;">P/ Medir</h2>
                            {% elif dado.Medir == 'Prioridade' %}
                            <h2 style="color: red;">Priorizar!</h2>
                            {% else %}
                            <h2 style="color: Grey;">Normal</h2>
                            {% endif %}
                        </td>
                        <td>{{dado.Ss}}</td>
                        <td>{{dado.Tipo}}</td>
                        <td>{{dado.Solicitante|lower|capfirst}}</td>
                        <td>{{dado.Data|date:"d/m/Y"}}</td>

                        <td>
                            <a href="{% url 'editar_p' dado.id %}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
            

                        <!--  Filtro checked--> 
                        {% if dado.Executado %}
                        <td> <input disabled type='checkbox' class="form-check-input"  id="flexSwitchCheckDefaultXl" checked >
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% else %}
                        <td><input disabled type="checkbox" class="form-check-input"  id="flexSwitchCheckDefaultXl">
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% endif %}

                        <!--  Filtro Copiar informaçoes da tabela--> 
                        {% comment %} {% if dado.Copiar %}
                            <td></td>
                            {% else %}
                            <td>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                                <button class="btn" data-clipboard-text=" {{dado.Tipo|lower|capfirst}} ref Ss: {{dado.Ss}} inf {{dado.Solicitante|lower|capfirst}}">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </td> 
                            <script>
                                const clipboard = new ClipboardJS('.btn')
                                clipboard.on('success', function (e) {
                
                                });

                                clipboard.on('error', function (e) {
                    
                                });
                            </script>
                        {% endif %} {% endcomment %}
                        <td>{{dado.created_by}}</td>
                        <td>{{dado.last_edited_by}}</td>
                    </tr> 
                {% endfor %}
                <!-- Query para o Grupo ADM GERAL -->
            {% else %}
                {% for dado in filtro3.qs %}
                    <tr>   
                        <td>{{dado.Localidade}} </td>
                        <td>
                            {% if dado.Medir == 'Medir' %}  
                            <h2 style="color: Green;">P/ Medir</h2>
                            {% elif dado.Medir == 'Prioridade' %}
                            <h2 style="color: red;">Priorizar!</h2>
                            {% else %}
                            <h2 style="color: Grey;">Normal</h2>
                            {% endif %}
                        </td>
                        <td>{{dado.Ss}}</td>
                        <td>{{dado.Tipo}}</td>
                        <td>{{dado.Solicitante|lower|capfirst}}</td>
                        <td>{{dado.Data|date:"d/m/Y"}}</td>
        
                        <td>
                            <a href="{% url 'editar_p' dado.id %}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
            

                        <!--  Filtro checked--> 
                        {% if dado.Executado %}
                        <td> <input disabled type='checkbox' class="form-check-input"  id="flexSwitchCheckDefaultXl" checked >
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% else %}
                        <td><input disabled type="checkbox" class="form-check-input"  id="flexSwitchCheckDefaultXl">
                        <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
                        {% endif %}

                        {% comment %} <!--  Filtro Copiar informaçoes da tabela--> 
                        {% if dado.Copiar %}
                            <td></td>
                            {% else %}
                            <td>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                                <button class="btn" data-clipboard-text=" {{dado.Tipo|lower|capfirst}} ref Ss: {{dado.Ss}} inf {{dado.Solicitante|lower|capfirst}}">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </button>
                            </td> 
                            <script>
                                const clipboard = new ClipboardJS('.btn')
                                clipboard.on('success', function (e) {
                
                                });

                                clipboard.on('error', function (e) {
                    
                                });
                            </script>
                        {% endif %} {% endcomment %}
                        <td>{{dado.created_by}}</td>
                        <td>{{dado.last_edited_by}}</td>
                                         
                        {% comment %} <td>
                            <a href="{% url 'excluir_p' dado.id %}">
                            <img src="https://img.icons8.com/dusk/64/000000/delete-forever.png"  height="25" width="25" /></a> 
                        </td> 
                        {% endcomment %}
                    </tr> 
                {% endfor %}
            {% endif %} 
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
   $(document).ready(function(){
        $('#tabela-listar').DataTable({
            dom: 'Bfrtip',

            buttons: [
                {
                    extend:    'excelHtml5',
                    text:      '<i class="fa fa-download" aria-hidden="true"></i>',
                    titleAttr: 'Excel'
                },
               //"colvis", Botão para filtrar colunas 'colvis'
            ],

        stateSave: true,
              responsive: {
        details: window.matchMedia("(max-width: 767px)").matches //retorna tru se a tela for menor que 767
      },


        // "bSort": false,
        "aaSorting": [],
        "pageLength": 25,
        "language": {
            "emptyTable": "Nenhum registro encontrado",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "infoFiltered": "(Filtrados de _MAX_ registros)",
            "infoThousands": ".",
            "loadingRecords": "Carregando...",
            "zeroRecords": "Nenhum registro encontrado",
            "search": "Pesquisar",
            "paginate": {
                "next": "Próximo",
                "previous": "Anterior",
                "first": "Primeiro",
                "last": "Último"
            },
            "aria": {
                "sortAscending": ": Ordenar colunas de forma ascendente",
                "sortDescending": ": Ordenar colunas de forma descendente"
            },
            "select": {
                "rows": {
                    "_": "Selecionado %d linhas",
                    "1": "Selecionado 1 linha"
                },
                "cells": {
                    "1": "1 célula selecionada",
                    "_": "%d células selecionadas"
                },
                "columns": {
                    "1": "1 coluna selecionada",
                    "_": "%d colunas selecionadas"
                }
            },
            "buttons": {
                "copySuccess": {
                    "1": "Uma linha copiada com sucesso",
                    "_": "%d linhas copiadas com sucesso"
                },
                "collection": "Coleção  <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
                "colvis": "Filtrar",
                "colvisRestore": "Restaurar Visibilidade",
                "copy": "Copiar",
                "copyKeys": "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
                "copyTitle": "Copiar para a Área de Transferência",
                "csv": "CSV",
                "excel": "Excel",
                "pageLength": {
                    "-1": "Mostrar todos os registros",
                    "_": "Mostrar %d registros"
                },
                "pdf": "PDF",
                "print": "Imprimir",
                "createState": "Criar estado",
                "removeAllStates": "Remover todos os estados",
                "removeState": "Remover",
                "renameState": "Renomear",
                "savedStates": "Estados salvos",
                "stateRestore": "Estado %d",
                "updateState": "Atualizar"
            },
            "autoFill": {
                "cancel": "Cancelar",
                "fill": "Preencher todas as células com",
                "fillHorizontal": "Preencher células horizontalmente",
                "fillVertical": "Preencher células verticalmente"
            },
            "lengthMenu": "Exibir _MENU_ resultados por página",
            "searchBuilder": {
                "add": "Adicionar Condição",
                "button": {
                    "0": "Construtor de Pesquisa",
                    "_": "Construtor de Pesquisa (%d)"
                },
                "clearAll": "Limpar Tudo",
                "condition": "Condição",
                "conditions": {
                    "date": {
                        "after": "Depois",
                        "before": "Antes",
                        "between": "Entre",
                        "empty": "Vazio",
                        "equals": "Igual",
                        "not": "Não",
                        "notBetween": "Não Entre",
                        "notEmpty": "Não Vazio"
                    },
                    "number": {
                        "between": "Entre",
                        "empty": "Vazio",
                        "equals": "Igual",
                        "gt": "Maior Que",
                        "gte": "Maior ou Igual a",
                        "lt": "Menor Que",
                        "lte": "Menor ou Igual a",
                        "not": "Não",
                        "notBetween": "Não Entre",
                        "notEmpty": "Não Vazio"
                    },
                    "string": {
                        "contains": "Contém",
                        "empty": "Vazio",
                        "endsWith": "Termina Com",
                        "equals": "Igual",
                        "not": "Não",
                        "notEmpty": "Não Vazio",
                        "startsWith": "Começa Com",
                        "notContains": "Não contém",
                        "notStartsWith": "Não começa com",
                        "notEndsWith": "Não termina com"
                    },
                    "array": {
                        "contains": "Contém",
                        "empty": "Vazio",
                        "equals": "Igual à",
                        "not": "Não",
                        "notEmpty": "Não vazio",
                        "without": "Não possui"
                    }
                },
                "data": "Data",
                "deleteTitle": "Excluir regra de filtragem",
                "logicAnd": "E",
                "logicOr": "Ou",
                "title": {
                    "0": "Construtor de Pesquisa",
                    "_": "Construtor de Pesquisa (%d)"
                },
                "value": "Valor",
                "leftTitle": "Critérios Externos",
                "rightTitle": "Critérios Internos"
            },
            "searchPanes": {
                "clearMessage": "Limpar Tudo",
                "collapse": {
                    "0": "Painéis de Pesquisa",
                    "_": "Painéis de Pesquisa (%d)"
                },
                "count": "{total}",
                "countFiltered": "{shown} ({total})",
                "emptyPanes": "Nenhum Painel de Pesquisa",
                "loadMessage": "Carregando Painéis de Pesquisa...",
                "title": "Filtros Ativos",
                "showMessage": "Mostrar todos",
                "collapseMessage": "Fechar todos"
            },
            "thousands": ".",
            "datetime": {
                "previous": "Anterior",
                "next": "Próximo",
                "hours": "Hora",
                "minutes": "Minuto",
                "seconds": "Segundo",
                "amPm": [
                    "am",
                    "pm"
                ],
                "unknown": "-",
                "months": {
                    "0": "Janeiro",
                    "1": "Fevereiro",
                    "10": "Novembro",
                    "11": "Dezembro",
                    "2": "Março",
                    "3": "Abril",
                    "4": "Maio",
                    "5": "Junho",
                    "6": "Julho",
                    "7": "Agosto",
                    "8": "Setembro",
                    "9": "Outubro"
                },
                "weekdays": [
                    "Domingo",
                    "Segunda-feira",
                    "Terça-feira",
                    "Quarta-feira",
                    "Quinte-feira",
                    "Sexta-feira",
                    "Sábado"
                ]
            },
            "editor": {
                "close": "Fechar",
                "create": {
                    "button": "Novo",
                    "submit": "Criar",
                    "title": "Criar novo registro"
                },
                "edit": {
                    "button": "Editar",
                    "submit": "Atualizar",
                    "title": "Editar registro"
                },
                "error": {
                    "system": "Ocorreu um erro no sistema (<a target=\"\\\" rel=\"nofollow\" href=\"\\\">Mais informações<\/a>)."
                },
                "multi": {
                    "noMulti": "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
                    "restore": "Desfazer alterações",
                    "title": "Multiplos valores",
                    "info": "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais."
                },
                "remove": {
                    "button": "Remover",
                    "confirm": {
                        "_": "Tem certeza que quer deletar %d linhas?",
                        "1": "Tem certeza que quer deletar 1 linha?"
                    },
                    "submit": "Remover",
                    "title": "Remover registro"
                }
            },
            "decimal": ",",
            "stateRestore": {
                "creationModal": {
                    "button": "Criar",
                    "columns": {
                        "search": "Busca de colunas",
                        "visible": "Visibilidade da coluna"
                    },
                    "name": "Nome:",
                    "order": "Ordernar",
                    "paging": "Paginação",
                    "scroller": "Posição da barra de rolagem",
                    "search": "Busca",
                    "searchBuilder": "Mecanismo de busca",
                    "select": "Selecionar",
                    "title": "Criar novo estado",
                    "toggleLabel": "Inclui:"
                },
                "emptyStates": "Nenhum estado salvo",
                "removeConfirm": "Confirma remover %s?",
                "removeJoiner": "e",
                "removeSubmit": "Remover",
                "removeTitle": "Remover estado",
                "renameButton": "Renomear",
                "renameLabel": "Novo nome para %s:",
                "renameTitle": "Renomear estado",
                "duplicateError": "Já existe um estado com esse nome!",
                "emptyError": "Não pode ser vazio!",
                "removeError": "Falha ao remover estado!"
            },
            "infoEmpty": "Mostrando 0 até 0 de 0 registro(s)",
            "processing": "Carregando...",
            "searchPlaceholder": "Buscar registros"
        } 
        
        });

    });
</script>
{% endblock %}



