{% extends 'dados/base.html'  %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block conteudo %}
{% load static %}

<div class="container">
    <div class="card w-10">
        <div class="card-body">
            <h3 style='text-align:center'>Alterar Entrada</h3>
            <form action="" method="POST">
                 {% csrf_token %}

                <div id="matpend"> 
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nª Reserva</span>
                        {% render_field formulario.N_reserva class='form-control'%}
                        ⠀                               
                        <span class="input-group-text">Data</span>
                        {% render_field formulario.Data class='form-control' %}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" >Material</span>
                        {% render_field formulario.Item  class="form-control" %}     
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" >Qtd</span>
                        {% render_field formulario.Qtd  class="form-control" %}     
                        ⠀
                        <span class="input-group-text">Localidade</span>
                        {% render_field formulario.Localidade class="form-control" %}
                    </div>        
                </div>
                    
                <div id="btn2pen">
                    <!-- Botoes -->
                    <button class="btn btn-secondary"><a href="{% url 'lancamentos' %}"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a></button> 
                    <button id="show" class="btn btn-success" value="Submit" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>        
                </div>

            </form>
        </div>
    </div>         
</div>

{% endblock %}