{% extends 'dados/base.html'  %}
{% block conteudo %}


<br><br><br>
<h1 style="text-align: center;">Pendencias de Esgoto</h1>

<div class="container">
   
    <table class="table table-hover table-bordered">
        <tr>
            <th>Localidade</th>
            <th>Situação</th>
            <th>Ss</th>
            <th>Data</th>
            <th>Equipe</th>
            <th>Bairro</th>
            <th>Rua</th>
            <th>Referencia</th>
            <th>Servico</th>
            <th>Observações</th>
            <th>Executado</th>
        </tr>
        <tr>
            <td>{{dados.Localidade}}</td>
            <td>
                {% if dado.Medir == 'Medir' %}  
                <h4 style="color: Green;" class="badge badge-warning">P/ Medir</h4>
                {% elif dado.Medir == 'Prioridade' %}
                <h4 style="color: red;" class="badge badge-warning">Priorizar!</h4>
                {% else %}
                <h4 style="color: Grey;" class="badge badge-warning">Normal</h4>
                {% endif %}
            </td>
            <td>{{dados.Ss}}</td>
            <td>{{dados.Data |date:"d/m/Y"}}</td>
            <td>{{dados.Equipe|lower|capfirst}}</td>
            <td>{{dados.Rua|lower|capfirst}}</td>
            <td>{{dados.Referencia|lower|capfirst}}</td>
            <td>{{dados.Servico|lower|capfirst}}</td>
            <td>{{dados.Bairro|lower|capfirst}}</td>
            <td>{{dados.Observacao|lower|capfirst}}</td>
            <td>{{dados.Executado}}</td>
        </tr>
    </table>

    <button style="margin-top: 10px;" class="btn btn-secondary"><a style="color: white;" href="{% url 'pavimentos2'%}" class="text-decoration-none">Voltar</a></button>

</div>
{% endblock %}