{% extends 'dados/base.html'  %}
{% block conteudo %}
{% load widget_tweaks %}
{% load static %}

<div class="container">
    <div class="card w-10">
        <div class="card-body">
            <h3 style='text-align:center'>Alterar informações</h3>
            <form action="" method="POST">
                <!-- Não se esqueçer dessa misera dessa fdp tag -->
                {% csrf_token %}

                <div id="penesgo">

                    <div class="input-group mb-3">
                    <span class="input-group-text">Ss</span>
                    {% render_field formulario.Ss class="form-control" placeholder="Informe 9 Digitos" minlength="9" maxlength="9"%}
                    ⠀
                    <span class="input-group-text">Data</span>
                    {% render_field formulario.Data class="form-control"%}
                    </div>

                    <div class="input-group mb-3">
                      <span class="input-group-text">Equipe</span>
                      {% render_field formulario.EquipeGestor class="form-control" %}
                      ⠀
                      <span class="input-group-text">Bairro</span>
                      {% render_field formulario.BairroGestor class="form-control" placeholder=" item obrigatorio" %}
                    </div>

                    <div class="input-group mb-3">
                    <span class="input-group-text">Rua</span>
                    {% render_field formulario.Rua class="form-control" placeholder=" item obrigatorio" %} 
                    ⠀
                    <span class="input-group-text">Referencia</span>
                    {% render_field formulario.Referencia class="form-control" placeholder=" item obrigatorio"%}
                    </div>

                    <div class="input-group mb-3">
                    <span class="input-group-text">Servico</span>
                    {% render_field formulario.Servico class="form-control" %}
                    ⠀
                    <span  class="input-group-text">Obs</span>
                    {% render_field formulario.Observacao class="form-control" placeholder=" item obrigatorio"%}
                    </div>
                
                    <div class="input-group mb-3">
                    <span class="input-group-text">Servico</span>
                        {% render_field formulario.Executado class="form-control"%}
                    ⠀
                    <span class="input-group-text">Situação</span>
                    {% render_field formulario.Medir class='form-control'%}
                    </div>
                    
                    <div class="input-group mb-3">
                    <span class="input-group-text">Localidade</span>
                    {% render_field formulario.Localidade class='form-control' %}
                    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                    </div>
              </div>

              <div id="btnesg">
                <button class="btn btn-secondary">
                  <a style="color: white" href="{% url 'pavimentos2'%}" class="text-decoration-none"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
                </button>
                <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i>
                  Salvar
                </button>
              </div>
            </form>
        </div>
    </div>         
</div>
{% endblock %}