<!-- 
    <tr id="trPavimento">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{form.Executado}}</td>
        <td>{{form.Ss_Final}}</td>
        <td>{{form.Met_Final}}</td>
        <td class="text-center">
            <button type="submit" class="btn btn-success">
                <i class="fa-sharp fa-solid fa-check"></i>
            </button>

            <button
            class="btn btn-danger"
            hx-get="{% url 'editar_update' object.pk %}"
            hx-target="#trPavimento"
            hx-swap="outerHTML">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </button>
        </td>
    </tr> -->


             <!-- <td class="text-center">
                            <span hx-get="{% url 'editar20' dado.pk %}">
                                <i class="fa fa-pencil-square" link span-is-link></i>
                            </span>
                        </td> -->
