<tr 
hx-target="this"
hx-swap="outerHTML" 
>
<td></td>
<td>{{object.Localidade}} </td>
<td>
    {% if object.Medir == 'Medir' %}  
    <h4 style="color: Green;" class="badge badge-warning">P/ Medir</h4>
    {% elif object.Medir == 'Prioridade' %}
    <h4 style="color: red;" class="badge badge-warning">Priorizar!</h4>
    {% else %}
    <h4 style="color: Grey;" class="badge badge-warning">Normal</h4>
    {% endif %}
</td>  
<td>{{object.Ss}}</td>
<td>{{object.Data|date:"d/m/Y"}}</td>

<!-- {% if object.atual %}
<td>
    {{object.atual2}}
<img  data-toggle="tooltip" data-placement="top" title="No Prazo" style="text-align: center;" src="https://img.icons8.com/external-bright-fill-juicy-fish/84/000000/external-business-business-bright-fill-bright-fill-juicy-fish-29.png" 
height="25" width="25"  />
</td> 
{% else %}
<td>
    {{object.atual2}}
<img  data-toggle="tooltip" data-placement="top" title="Fora do Prazo" style="text-align: center;" src="https://img.icons8.com/external-bright-fill-juicy-fish/84/000000/external-business-business-bright-fill-bright-fill-juicy-fish-30.png" 
height="25" width="25" />
</td> 
{% endif %} -->

<td>{{object.Equipe|lower|capfirst}}</td>
<td>{{object.Bairro|lower|capfirst}}</td>
<td>{{object.Rua|lower|capfirst}}</td>
<td>{{object.Referencia|lower|capfirst}}</td>

<td class="text-center">
    <span hx-get="{% url 'expense_detail' object.pk %}">
    <i class="fa fa-square link span-is-link" ></i>
    </span>
</td> 


<td>{{object.Servico|lower|capfirst}}</td>
<td>{{object.Metragem}}</td>
<!--  Filtro checked--> 
{% if object.Executado %}
<td> <input disabled type='checkbox' class="form-check-input"  id="flexSwitchCheckDefaultXl" checked >
<label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
{% else %}
<td><input disabled type="checkbox" class="form-check-input"  id="flexSwitchCheckDefaultXl">
<label class="form-check-label" for="flexSwitchCheckDefaultXl"></label></td>
{% endif %}

<td>{{object.Ss_Final}}</td>
<td>{{object.Met_Final}}</td>

{% if object.Copiar %}
<td></td>
{% else %}
<td>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<a class="btn" 
    data-clipboard-text="  Recomposição de pavimento: {{dado.Servico|capfirst}} de: {{dado.Metragem|capfirst}} ref ss: {{dado.Ss|capfirst}} inf {{dado.Equipe|capfirst}}">
    <img src="https://img.icons8.com/dusk/64/000000/copy.png" alt="Image" height="25" width="25"  />
</a>
</td> 
<script>
    const clipboard = new ClipboardJS('.btn')
    clipboard.on('success', function (e) {
    
    });

    clipboard.on('error', function (e) {

    });
</script>
{% endif %}


<td>
    <a id='teste1' font size="2" class="text-decoration-none"  href="{% url 'detalhe' object.id %}">
    <img src="https://img.icons8.com/dusk/64/000000/redo.png"  height="25" width="25" /></a>
</td>

</tr>
