{% extends 'dados/base.html'  %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block conteudo %}
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% if user.groups.all.0.name == 'Lauro' %}
    <div id="ww_14415e575b3fd" v='1.3' loc='id' a='{"t":"responsive","lang":"pt","ids":["wl4995"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF00","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_nme":3,"cl_odd":"#00000000"}'>Weather for the Following Location: <a href="https://2ua.org/bra/lauro_de_freitas/map/" id="ww_14415e575b3fd_u" target="_blank">Lauro de Freitas map, Brazil</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_14415e575b3fd"></script>
{% elif  user.groups.all.0.name == 'Salvador'%}
    <div id="ww_2dafaf9be1aa8" v='1.3' loc='id' a='{"t":"responsive","lang":"pt","ids":["wl3021"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF00","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","el_nme":3,"cl_odd":"#00000000"}'>Weather Data Source: <a href="https://sharpweather.com/weather_salvador/week/" id="ww_2dafaf9be1aa8_u" target="_blank">weather this week Salvador</a></div><script async src="https://app1.weatherwidget.org/js/?id=ww_2dafaf9be1aa8"></script>
{% else %}
{% endif %}


<h1>Listagem de Pavimentos</h1>    
<div class='container-fluid'>
    
    <!--  Filtro superido geral da tabela--> 
    <div id="add">
        <form method="get"  >
            {% csrf_token %}

            <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#cadpavimento">
                <i class="fa fa-plus" aria-hidden="true"></i>Adicionar
            </button> 
            
            <div class="form-inline col-md-1 mb-0">
                ⠀<button type="submit" class="btn btn-primary mb-2">Filtrar</button>
            </div>
            
            <div class="form-inline col-md-1 mb-0" >
                {{filtro.form.Executado| as_crispy_field}}
            </div>
            <div class="form-inline col-md-1 mb-0" >
                {{filtro.form.Bairro| as_crispy_field}}
            </div>
            <div class="form-inline col-md-1 mb-0">
                {{filtro.form.Servico| as_crispy_field}}
            </div>
        </form>
    </div>

    <!-- Modal Pendencias de Pavimentos-->
    <div class="modal fade bd-example-modal-lg" id="cadpavimento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro de Pavimento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="container-fluid">
                    <div class="card-body">                  
                        <form action="" method="POST">
                            {% csrf_token %}   

                            <div id="pavpend"> 

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Localidade</span>
                                    {% render_field pavimento9.Localidade class='form-control'%}
                                    ⠀                               
                                    <span class="input-group-text">Situação</span>
                                    {% render_field pavimento9.Medir class='form-control' %}
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" >Ss</span>
                                    {% render_field pavimento9.Ss  class="form-control" placeholder="Informe 9 Digitos" %}     
                                    ⠀                   
                                    <span class="input-group-text">Data</span>
                                    {% render_field pavimento9.Data class="form-control"%}
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Equipe</span>
                                    {% render_field pavimento9.Equipe class="form-control" %}
                                    ⠀
                                    <span class="input-group-text">Bairro</span>
                                    {% render_field pavimento9.Bairro class="form-control" placeholder=" item obrigatorio"%}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span  class="input-group-text">Rua</span>
                                    {% render_field pavimento9.Rua class="form-control" placeholder=" item obrigatorio"%}
                                    ⠀
                                    <span class="input-group-text">Referência</span>
                                    {% render_field pavimento9.Referencia class="form-control" placeholder=" item obrigatorio"%}
                                </div>
            
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Metragem</span>
                                    {% render_field pavimento9.Metragem class="form-control" placeholder=" Ex: 1,50 x 1,25" %}
                                    ⠀
                                    <span class="input-group-text">Obs</span>
                                    {% render_field pavimento9.Observacao class="form-control" placeholder=" item opcional"%}
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text">Serviço</span>
                                    {% render_field pavimento9.Servico  class="form-control"%}
                                    ⠀
                                    <span class="input-group-text">Executado</span>
                                    {% render_field pavimento9.Executado class='form-control'%}
                                </div>
                            </div>

                            
                            <div id="btn2pen">
                                <!-- Botoes -->
                                <button class="btn btn-secondary"><a href="{% url 'pavimentos'%}"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a></button> 
                                <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>        
                            </div><br>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div> 

    <!-- LInha informativa de demandas-->
    <div class='form-control' style="font-size: 13px;" >        
        {% if user.groups.all.0.name == 'Lauro' %}
        <h8>  <i class="fas fa-table me-1"></i>{{dados.count}} registro(s) encontrado(s) -  {{qtdlf}} Pendente(s)</h8>

        {% elif user.groups.all.0.name == 'Salvador' %}
        <h8>  <i class="fas fa-table me-1"></i>{{dados.count}} registro(s) encontrado(s) -  {{qtdssa}} Pendente(s)</h8>

        {% else %}
        <h8>  <i class="fas fa-table me-1"></i>{{dados.count}} registro(s) encontrado(s) -  {{qtd}} Pendente(s)</h8>

        {% endif %}  
    </div>

    <table  class="table table-striped table-bordered table-hover table-responsive" id="tabela-listar">
        <thead>
            <tr>
                <th>ID</th>
                <th>Localidade</th>
                <th>Situação</th>
                <th>Ss</th>
                <th>Data</th>
                <th>Prazo</th>

                <th>Equipe</th>
                <th>Bairro</th>
                <th>Rua</th>
                <th>Referencia</th>
                <th>Serviço</th>
                <th>Metragem</th>            
                
                <th>Copiar</th>
                <th>Ss_Final</th>
                <th>Met_Final </th>
                <th>Editar</th>
                <th>Executado</th>
                {% comment %} <th>Detalhes</th> {% endcomment %}
                {% comment %} <th>Excluir</th> {% endcomment %}
            </tr>
        </thead>

        <tbody>
            <!-- Query para o Grupo de Lauro -->
            {% if user.groups.all.0.name == "Lauro" %}
                {% for dado in localidade_l.qs %}
                      <tr>
                    <td></td>
                    <td>{{dado.Localidade}}</td>
                    <td>
                    {% if dado.Medir == 'Medir' %}
                        <h2 style="color: Green" >P/ Medir</h2>
                        {% elif dado.Medir == 'Prioridade' %}
                        <h2 style="color: red" >Priorizar!</h2>
                        {% else %}
                        <h2 style="color: Grey">Normal</h2>
                    {% endif %}
                    </td>
                    <td>{{dado.Ss}}</td>
                    <td>{{dado.Data|date:"d/m/Y"}}</td>

                    {% if dado.atual %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-check fa-lg"></i>
                        </td>
                    {% else %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-plus fa-lg"></i>
                        </td>
                    {% endif %}

                    <td>{{dado.Equipe|lower|capfirst}}</td>
                    <td>{{dado.Bairro|lower|capfirst}}</td>
                    <td>{{dado.Rua|lower|capfirst}}</td>
                    <td>{{dado.Referencia|lower|capfirst}}</td>
                    <td>{{dado.Servico|lower|capfirst}}</td>
                    <td>{{dado.Metragem|lower|capfirst}}</td>
                    
                    <!--  Filtro Copiar informaçoes da tabela-->
                    {% if dado.Copiar %}
                        <td></td>
                        {% else %}
                        <td>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                            <button class="btn" data-clipboard-text="  Recomposição de pavimento: {{dado.Servico|capfirst}} de: {{dado.Metragem|capfirst}} inf {{dado.Equipe|capfirst}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </td>
                        <script>
                            const clipboard = new ClipboardJS(".btn");
                            clipboard.on("success", function (e) {});
                            clipboard.on("error", function (e) {});
                        </script>
                    {% endif %}
                    <td>{{dado.Ss_Final|lower|capfirst}}</td>
                    <td>{{dado.Met_Final|lower|capfirst}}</td>

                    <td>
                        <a href="{% url 'editar' dado.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>

                    <!--  Filtro checked-->
                    {% if dado.Executado %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" checked />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% else %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% endif %}

                    {% comment %} <td>
                    <a id="teste1" font size="2" class="text-decoration-none" href="{% url 'detalhe2' dado.id%}"> <img src="https://img.icons8.com/dusk/64/000000/redo.png" height="25" width="25" /></a>
                    </td>

                    <td>
                    <a href="{% url 'excluir2' dado.id %}"> <img src="https://img.icons8.com/dusk/64/000000/delete-forever.png" height="25" width="25" /></a>
                    </td> {% endcomment %}
                </tr>
                {% endfor %}

                 <!-- Query para o Grupo de Salvador -->
            {% elif user.groups.all.0.name == 'Salvador'%}
             {% for dado in localidade_2.qs %}
                <tr>
                    <td></td>
                    <td>{{dado.Localidade}}</td>
                    <td>
                    {% if dado.Medir == 'Medir' %}
                        <h2 style="color: Green" >P/ Medir</h2>
                        {% elif dado.Medir == 'Prioridade' %}
                        <h2 style="color: red" >Priorizar!</h2>
                        {% else %}
                        <h2 style="color: Grey">Normal</h2>
                    {% endif %}
                    </td>
                    <td>{{dado.Ss}}</td>
                    <td>{{dado.Data|date:"d/m/Y"}}</td>

                    {% if dado.atual %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-check fa-lg"></i>
                        </td>
                    {% else %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-plus fa-lg"></i>
                        </td>
                    {% endif %}

                    <td>{{dado.Equipe|lower|capfirst}}</td>
                    <td>{{dado.Bairro|lower|capfirst}}</td>
                    <td>{{dado.Rua|lower|capfirst}}</td>
                    <td>{{dado.Referencia|lower|capfirst}}</td>
                    <td>{{dado.Servico|lower|capfirst}}</td>
                    <td>{{dado.Metragem|lower|capfirst}}</td>
                    
                    <!--  Filtro Copiar informaçoes da tabela-->
                    {% if dado.Copiar %}
                        <td></td>
                        {% else %}
                        <td>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                            <button class="btn" data-clipboard-text="  Recomposição de pavimento: {{dado.Servico|capfirst}} de: {{dado.Metragem|capfirst}} inf {{dado.Equipe|capfirst}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </td>
                        <script>
                            const clipboard = new ClipboardJS(".btn");
                            clipboard.on("success", function (e) {});
                            clipboard.on("error", function (e) {});
                        </script>
                    {% endif %}
                    <td>{{dado.Ss_Final|lower|capfirst}}</td>
                    <td>{{dado.Met_Final|lower|capfirst}}</td>

                    <td>
                        <a href="{% url 'editar' dado.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>

                    <!--  Filtro checked-->
                    {% if dado.Executado %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" checked />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% else %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% endif %}

                    {% comment %} <td>
                    <a id="teste1" font size="2" class="text-decoration-none" href="{% url 'detalhe2' dado.id%}"> <img src="https://img.icons8.com/dusk/64/000000/redo.png" height="25" width="25" /></a>
                    </td>

                    <td>
                    <a href="{% url 'excluir2' dado.id %}"> <img src="https://img.icons8.com/dusk/64/000000/delete-forever.png" height="25" width="25" /></a>
                    </td> {% endcomment %}
                </tr>
                {% endfor %}

                <!-- Query para o Grupo ADM GERAL -->
            {% else %}
                {% for dado in filtro.qs %}
                   <tr>
                    <td></td>
                    <td>{{dado.Localidade}}</td>
                    <td>
                    {% if dado.Medir == 'Medir' %}
                        <h2 style="color: Green" >P/ Medir</h2>
                        {% elif dado.Medir == 'Prioridade' %}
                        <h2 style="color: red" >Priorizar!</h2>
                        {% else %}
                        <h2 style="color: Grey">Normal</h2>
                    {% endif %}
                    </td>
                    <td>{{dado.Ss}}</td>
                    <td>{{dado.Data|date:"d/m/Y"}}</td>

                    {% if dado.atual %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-check fa-lg"></i>
                        </td>
                    {% else %}
                        <td>
                            {{dado.atual2}}
                            <i class="fas fa-calendar-plus fa-lg"></i>
                        </td>
                    {% endif %}

                    <td>{{dado.Equipe|lower|capfirst}}</td>
                    <td>{{dado.Bairro|lower|capfirst}}</td>
                    <td>{{dado.Rua|lower|capfirst}}</td>
                    <td>{{dado.Referencia|lower|capfirst}}</td>
                    <td>{{dado.Servico|lower|capfirst}}</td>
                    <td>{{dado.Metragem|lower|capfirst}}</td>
                    
                    <!--  Filtro Copiar informaçoes da tabela-->
                    {% if dado.Copiar %}
                        <td></td>
                        {% else %}
                        <td>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
                            <button class="btn" data-clipboard-text="  Recomposição de pavimento: {{dado.Servico|capfirst}} de: {{dado.Metragem|capfirst}} inf {{dado.Equipe|capfirst}}">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                            </button>
                        </td>
                        <script>
                            const clipboard = new ClipboardJS(".btn");
                            clipboard.on("success", function (e) {});
                            clipboard.on("error", function (e) {});
                        </script>
                    {% endif %}
                    <td>{{dado.Ss_Final|lower|capfirst}}</td>
                    <td>{{dado.Met_Final|lower|capfirst}}</td>

                    <td>
                        <a href="{% url 'editar' dado.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </td>

                    <!--  Filtro checked-->
                    {% if dado.Executado %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" checked />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% else %}
                        <td>
                            <input disabled type="checkbox" class="form-check-input" id="flexSwitchCheckDefaultXl" />
                            <label class="form-check-label" for="flexSwitchCheckDefaultXl"></label>
                        </td>
                    {% endif %}

                    {% comment %} <td>
                    <a id="teste1" font size="2" class="text-decoration-none" href="{% url 'detalhe2' dado.id%}"> <img src="https://img.icons8.com/dusk/64/000000/redo.png" height="25" width="25" /></a>
                    </td>

                    <td>
                    <a href="{% url 'excluir2' dado.id %}"> <img src="https://img.icons8.com/dusk/64/000000/delete-forever.png" height="25" width="25" /></a>
                    </td> {% endcomment %}
                </tr>
                {% endfor %}
            {% endif %}  
            
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
  $(document).ready(function () {
    $("#tabela-listar").DataTable({
      dom: "Bfrtip",
      buttons: [
        {
          extend: "excelHtml5",
          text: '<i class="fa fa-download" aria-hidden="true"></i>',
          titleAttr: "Excel",
        },
        "colvis",
      ],
      stateSave: true,
      responsive: true,
      // "bSort": false,
      aaSorting: [],
      pageLength: 25,
      language: {
        emptyTable: "Nenhum registro encontrado",
        info: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        infoFiltered: "(Filtrados de _MAX_ registros)",
        infoThousands: ".",
        loadingRecords: "Carregando...",
        zeroRecords: "Nenhum registro encontrado",
        search: "Pesquisar",
        paginate: {
          next: "Próximo",
          previous: "Anterior",
          first: "Primeiro",
          last: "Último",
        },
        aria: {
          sortAscending: ": Ordenar colunas de forma ascendente",
          sortDescending: ": Ordenar colunas de forma descendente",
        },
        select: {
          rows: {
            _: "Selecionado %d linhas",
            1: "Selecionado 1 linha",
          },
          cells: {
            1: "1 célula selecionada",
            _: "%d células selecionadas",
          },
          columns: {
            1: "1 coluna selecionada",
            _: "%d colunas selecionadas",
          },
        },
        buttons: {
          copySuccess: {
            1: "Uma linha copiada com sucesso",
            _: "%d linhas copiadas com sucesso",
          },
          collection: 'Coleção  <span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"><\/span>',
          colvis: "Filtrar",
          colvisRestore: "Restaurar Visibilidade",
          copy: "Copiar",
          copyKeys: "Pressione ctrl ou u2318 + C para copiar os dados da tabela para a área de transferência do sistema. Para cancelar, clique nesta mensagem ou pressione Esc..",
          copyTitle: "Copiar para a Área de Transferência",
          csv: "CSV",
          excel: "Excel",
          pageLength: {
            "-1": "Mostrar todos os registros",
            _: "Mostrar %d registros",
          },
          pdf: "PDF",
          print: "Imprimir",
          createState: "Criar estado",
          removeAllStates: "Remover todos os estados",
          removeState: "Remover",
          renameState: "Renomear",
          savedStates: "Estados salvos",
          stateRestore: "Estado %d",
          updateState: "Atualizar",
        },
        autoFill: {
          cancel: "Cancelar",
          fill: "Preencher todas as células com",
          fillHorizontal: "Preencher células horizontalmente",
          fillVertical: "Preencher células verticalmente",
        },
        lengthMenu: "Exibir _MENU_ resultados por página",
        searchBuilder: {
          add: "Adicionar Condição",
          button: {
            0: "Construtor de Pesquisa",
            _: "Construtor de Pesquisa (%d)",
          },
          clearAll: "Limpar Tudo",
          condition: "Condição",
          conditions: {
            date: {
              after: "Depois",
              before: "Antes",
              between: "Entre",
              empty: "Vazio",
              equals: "Igual",
              not: "Não",
              notBetween: "Não Entre",
              notEmpty: "Não Vazio",
            },
            number: {
              between: "Entre",
              empty: "Vazio",
              equals: "Igual",
              gt: "Maior Que",
              gte: "Maior ou Igual a",
              lt: "Menor Que",
              lte: "Menor ou Igual a",
              not: "Não",
              notBetween: "Não Entre",
              notEmpty: "Não Vazio",
            },
            string: {
              contains: "Contém",
              empty: "Vazio",
              endsWith: "Termina Com",
              equals: "Igual",
              not: "Não",
              notEmpty: "Não Vazio",
              startsWith: "Começa Com",
              notContains: "Não contém",
              notStartsWith: "Não começa com",
              notEndsWith: "Não termina com",
            },
            array: {
              contains: "Contém",
              empty: "Vazio",
              equals: "Igual à",
              not: "Não",
              notEmpty: "Não vazio",
              without: "Não possui",
            },
          },
          data: "Data",
          deleteTitle: "Excluir regra de filtragem",
          logicAnd: "E",
          logicOr: "Ou",
          title: {
            0: "Construtor de Pesquisa",
            _: "Construtor de Pesquisa (%d)",
          },
          value: "Valor",
          leftTitle: "Critérios Externos",
          rightTitle: "Critérios Internos",
        },
        searchPanes: {
          clearMessage: "Limpar Tudo",
          collapse: {
            0: "Painéis de Pesquisa",
            _: "Painéis de Pesquisa (%d)",
          },
          count: "{total}",
          countFiltered: "{shown} ({total})",
          emptyPanes: "Nenhum Painel de Pesquisa",
          loadMessage: "Carregando Painéis de Pesquisa...",
          title: "Filtros Ativos",
          showMessage: "Mostrar todos",
          collapseMessage: "Fechar todos",
        },
        thousands: ".",
        datetime: {
          previous: "Anterior",
          next: "Próximo",
          hours: "Hora",
          minutes: "Minuto",
          seconds: "Segundo",
          amPm: ["am", "pm"],
          unknown: "-",
          months: {
            0: "Janeiro",
            1: "Fevereiro",
            10: "Novembro",
            11: "Dezembro",
            2: "Março",
            3: "Abril",
            4: "Maio",
            5: "Junho",
            6: "Julho",
            7: "Agosto",
            8: "Setembro",
            9: "Outubro",
          },
          weekdays: ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinte-feira", "Sexta-feira", "Sábado"],
        },
        editor: {
          close: "Fechar",
          create: {
            button: "Novo",
            submit: "Criar",
            title: "Criar novo registro",
          },
          edit: {
            button: "Editar",
            submit: "Atualizar",
            title: "Editar registro",
          },
          error: {
            system: 'Ocorreu um erro no sistema (<a target="\\" rel="nofollow" href="\\">Mais informações<\/a>).',
          },
          multi: {
            noMulti: "Essa entrada pode ser editada individualmente, mas não como parte do grupo",
            restore: "Desfazer alterações",
            title: "Multiplos valores",
            info: "Os itens selecionados contêm valores diferentes para esta entrada. Para editar e definir todos os itens para esta entrada com o mesmo valor, clique ou toque aqui, caso contrário, eles manterão seus valores individuais.",
          },
          remove: {
            button: "Remover",
            confirm: {
              _: "Tem certeza que quer deletar %d linhas?",
              1: "Tem certeza que quer deletar 1 linha?",
            },
            submit: "Remover",
            title: "Remover registro",
          },
        },
        decimal: ",",
        stateRestore: {
          creationModal: {
            button: "Criar",
            columns: {
              search: "Busca de colunas",
              visible: "Visibilidade da coluna",
            },
            name: "Nome:",
            order: "Ordernar",
            paging: "Paginação",
            scroller: "Posição da barra de rolagem",
            search: "Busca",
            searchBuilder: "Mecanismo de busca",
            select: "Selecionar",
            title: "Criar novo estado",
            toggleLabel: "Inclui:",
          },
          emptyStates: "Nenhum estado salvo",
          removeConfirm: "Confirma remover %s?",
          removeJoiner: "e",
          removeSubmit: "Remover",
          removeTitle: "Remover estado",
          renameButton: "Renomear",
          renameLabel: "Novo nome para %s:",
          renameTitle: "Renomear estado",
          duplicateError: "Já existe um estado com esse nome!",
          emptyError: "Não pode ser vazio!",
          removeError: "Falha ao remover estado!",
        },
        infoEmpty: "Mostrando 0 até 0 de 0 registro(s)",
        processing: "Carregando...",
        searchPlaceholder: "Buscar registros",
      },
    });
  });
</script>
{% endblock %}
